// Colors
$app-background: white;
$modal-background: #f0f0f0;
$text-background: #f8f8f8;
$text-input-background: white;
$grid-row-background: #f0f0ff;

// Fonts
$modal-title-font: "century gothic";
$modal-content-font: "helvetica";
$modal-controls-font: "arial";

$header-title-font: "century gothic";
$app-content-font: "helvetica";
$app-controls-font: "arial";

$grid-header-font: "century gothic";
$grid-data-font: "helvetica";