// Colors
$app-background: white;
$modal-background: #f0f0f0;
$text-background: #f8f8f8;
$text-input-background: white;

// Fonts
$modal-title-font: "century gothic";
$modal-content-font: "helvetica";
$modal-controls-font: "arial";
