@import "../../../styles/_config.scss";
@import "../../../styles/_atoms.scss";

.data-textarea-field {

    .field-textarea {
        width: 100%;        
        padding: 2px;
        border: 2px solid slategray;
        border-radius: 3px;
    }
}