<div class="user-display-content">
    <div class="user-grid">
        <ul class="user-grid-header">
            <li class="user-grid-row header">
                <grid-header name="First Name" column="firstname"></grid-header>
                <grid-header name="Last Name" column="lastname"></grid-header>
                <grid-header name="Username" column="username"></grid-header>
                <grid-header name="Email" column="email"></grid-header>
                <grid-header name="Options" column=""></grid-header>
            </li>
        </ul>

        <ul class="user-grid-data">
            <li class="user-grid-row data">
                <div>Brian</div>
                <div>Drake</div>
                <div>bwd72</div>
                <div>brian.drake@llos-inc.com</div>
                <div class="data-row-options"><img class="delete-img" src="/assets/images/blue-x.png" alt="Delete" />
                </div>
            </li>
            <li class="user-grid-row data">
                <div>Teagan</div>
                <div>Drake</div>
                <div>tdrake</div>
                <div>teagan.drake@llos-inc.com</div>
                <div class="data-row-options"><img class="delete-img" src="/assets/images/blue-x.png" alt="Delete" />
                </div>
            </li>
            <li class="user-grid-row data">
                <div>James</div>
                <div>Armbrust</div>
                <div>jamesarmbrust</div>
                <div>james.armbrust@llos-inc.com</div>
                <div class="data-row-options"><img class="delete-img" src="/assets/images/blue-x.png" alt="Delete" />
                </div>
            </li>
        </ul>
    </div>
</div>