<div class="grid-search-field">
    <div class="grid-column-pulldown">
        <button class="grid-column-selector">
            <img src="/assets/images/glass.png" />
            First Name
        </button>

        <!-- TODO: Populate these dynamically -->
        <div class="grid-column-options">
            <div>First Name</div>
            <div>Last Name</div>
            <div>Username</div>
            <div>Email</div>
        </div>
    </div>

    <div class="search-text-shell">
        <input class="search-text-input" type="text" placeholder="Search" />
    </div>
</div>