<div class="modal-outer-shell">
    <div class="modal-inner-area">
        <div class="modal-title">
            User Details
        </div>

        <div class="atom-separator"></div>

        <div class="modal-content">
            <div id="first-name">
                <div class="field-name">First Name</div>
                <input type="text" class="field-input" [(ngModel)]="user.firstname" />
            </div>

            <div id="middle-name">
                <div class="field-name">Middle Name</div>
                <input type="text" class="field-input" [(ngModel)]="user.middlename" />
            </div>

            <div id="last-name">
                <div class="field-name">Last Name</div>
                <input type="text" class="field-input" [(ngModel)]="user.lastname" />
            </div>

            <div id="username">
                <div class="field-name">Username</div>
                <input type="text" class="field-input" [(ngModel)]="user.username" />
            </div>

            <div id="display-name">
                <div class="field-name">Display Name</div>
                <input type="text" class="field-input" [(ngModel)]="user.displayname" />
            </div>

            <div id="email">
                <div class="field-name">Email</div>
                <input type="text" class="field-input" [(ngModel)]="user.email" />
            </div>

            <div id="description">
                <div class="field-name">Description</div>
                <textarea class="field-textarea" rows="3" [(ngModel)]="user.description"></textarea>
            </div>

        </div>

        <!-- Little extra space at the end -->
        <p>

            <div class="modal-controls">
                <button class="modal-button right" (click)="this.emitClose()">Close</button>
            </div>
    </div>
</div>