<div class="modal-outer-shell">
    <div class="modal-inner-area">
        <div class="modal-title">
            User Details
        </div>

        <div class="atom-separator"></div>

        <div class="modal-content">
            <data-field id="first-name" name="First Name"></data-field>
            <data-field id="middle-name" name="Middle Name"></data-field>
            <data-field id="last-name" name="Last Name"></data-field>
            <data-field id="username" name="Username"></data-field>
            <data-field id="display-name" name="Display Name"></data-field>
            <data-field id="email" name="Email"></data-field>
            <data-textarea-field id="description" name="Description" rows="3"></data-textarea-field>
        </div>

        <!-- Little extra space at the end -->
        <p>

    </div>
</div>