<div class="modal-outer-shell">
    <div class="modal-inner-area">
        <div class="modal-title-row">
            <div class="modal-title">
                {{title}}
            </div>
        </div>

        <div class="atom-separator"></div>

        <div class="modal-highlighted-content">
            {{highlightedInfo}}
        </div>
        <div class="modal-content">
            <ng-content></ng-content>
        </div>

        <div class="modal-controls">
            <button class="modal-button left" (click)="this.emitConfirm()">Delete</button>
            <button class="modal-button right" (click)="this.emitCancel()">Cancel</button>
        </div>
    </div>
</div>